{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<html>
	<head>
		<title>PADT</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{% static 'assets/js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'assets/css/ie8.css' %}" /><![endif]-->
        {% block moreCSS %}
        {% endblock moreCSS%}

	</head>
	<body class="homepage">
		<div id="page-wrapper">

            <!-- Header -->
            {% block header %}
            {% endblock header %}

            {% include 'nav.html' %}

			<!-- Intro -->
				{% block intro %}
				{% endblock intro %}

			<!-- Main -->
				{% block main %}
				
				{% endblock main %}


			{% include 'footer.html' %}

		</div>

		<!-- Scripts -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
        <script src="{% static 'js/skel.min.js' %}"></script>
        <script src="{% static 'js/skel-viewport.min.js' %}"></script>
        <script src="{% static 'js/util.js' %}"></script>
        <!--[if lte IE 8]><script src="{% static 'assets/js/ie/respond.min.js' %}"></script><![endif]-->
        <script src="{% static 'js/main.js' %}"></script>
        {% block moreJS %}

        {% endblock moreJS %}

	</body>
</html>
