certifi==2017.7.27.1
chardet==3.0.4
click==6.7
decorator==4.2.1
Django==1.11.6
django-model-utils==3.0.0
django-pandas==0.4.5
google-api-python-client==1.6.4
gsheets==0.3
gspread==0.6.2
http-here==0.0.2
httplib2==0.10.3
idna==2.6
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.1
numpy==1.13.3
oauth2client==4.1.2
pandas==0.21.0
parso==0.1.1
pexpect==4.3.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pyasn1==0.3.7
pyasn1-modules==0.1.5
pycountry==17.9.23
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.4
rsa==4.1
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
uritemplate==3.0.0
urllib3==1.22
wcwidth==0.1.7
